<!--Duplicate this markup in the Comments index view.-->
<blockquote class="hero-unit">
  <div>
    <h3><%= @quote.content %></h3>
    <small>
      <%= @quote.source %>
    </small>
  </div>
</blockquote>

<p><%= link_to pluralize(@quote.comments.count, 'comment'), quote_comments_path(@quote), class: "btn btn-primary" %></p>

<p><%= link_to 'See all quotations', quotes_path %></p>
