// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "twitter/bootstrap";
.well {
  @include clearfix;
}
.container {
  margin-top: $baseLineHeight;
}
.hero-unit .quotation * {
  font-size: $baseFontSize * 2;
  font-weight: bold;
  margin-bottom: $baseLineHeight;
}
.source {
  color: $grayLight;
}
